body {
    background:rgb(27, 27, 27) ;
}
nav {
    background:rgb(70, 70, 70);
    /*box-shadow: 0 0 15px #ddd ;*/
}
nav input {
    color:white;
    background:rgb(83, 83, 83);
}
nav input:focus {
    background:rgb(155, 155, 155);
    /*border-bottom:rgb(162, 0, 255) 1px solid;*/
}

#box {
    color:white;
    background:rgb(53, 53, 53);
    border:1px rgb(36, 36, 36) solid;
    border-bottom: 2px #999 solid;  
}
#box #icon a {
    color:white;
}
#box #icon a:hover {
    color:#999;
}